version: '3.9'

services:

  catalogdb:    
    container_name: catalogdb_container
    restart: always
    # set shared memory limit when using docker-compose
    shm_size: 128mb
   
    ports:
      - 5432:5432
   
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgress
      POSTGRES_DB: catalogDB
    volumes:
      - postgres_catalog:/var/lib/postgresql/data

  basketdb:    
    container_name: basketdb_container
    restart: always
    # set shared memory limit when using docker-compose 
    shm_size: 128mb
   
    ports:
      - 5433:5432
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgress
      POSTGRES_DB: basketDB
    volumes:
      - postgres_basket:/var/lib/postgresql/data

  basketdistributedcache:
    container_name: basket_redis_container
    restart: always
    ports:
      - 6379:6379 


  catalog.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__catalogconnectionstring=Server=catalogdb;Port=5432;Database=catalogDB;User Id=postgress;Password=postgres;Include Error Detail=true
  
    depends_on:
      - catalogdb
  
    ports:
      - "6000:8080"
      - "6060:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro  

  basket.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__basketconnectionstring=Server=basketdb;Port=5432;Database=basketDB;User Id=postgress;Password=postgres;Include Error Detail=true
      - ConnectionStrings__basketredis=basketdistributedcache:6379
      - GrpcSettings__discounturl=https://discount.grpc.api:8081
    ports:
      - "6001:8080"
      - "6061:8081"
    depends_on:
      - basketdb
      - basketdistributedcache
      - discount.grpc.api
  
  
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro

  discount.grpc.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ConnectionStrings__discountconnectionstring=Data Source=discountdb
    ports:
      - "6003:8080"
      - "6063:8081"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/home/app/.aspnet/https:ro
